@import './mixins.scss';

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  width: 100vw;
  height: 100vh;

  .navbar {
    height: 10vh;
    background-color: brown;
    color: aliceblue;

    .nav {
      @include row;
      justify-content: space-evenly;

      .nav-menu {
        padding: 1em;
        font-size: 1.7em;
        text-decoration: none;
        border-radius: 5%;

        &.active {
          background-color: blueviolet;
        }
      }
    }
  }

  .container {
    text-align: center;
  }
}
