@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin row-jcc {
  @include row;
  justify-content: center;
}

@mixin col-jcc {
  @include column;
  justify-content: center;
}
